{% load static %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS riêng -->
    <script src="{% static 'shop/js/header/header.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Khởi tạo slide menu
            sloveSlide({
                clmenuToggle: '#menuToggle',      // Selector cho nút mở menu
                cloverlay: '#overlay',           // Selector cho overlay
                clslideContainer: '#slideContainer', // Selector cho container menu trượt
                clcloseBtn: '.close-sidebar'     // Selector cho nút đóng menu
            });

            // Khởi tạo dropdown menu
            sloveDropdown({
                clclickDropdown: "clickDropdown",    // Class cho nút dropdown
                cldropdown_items: "dropdown-items",  // Class cho menu dropdown
                clItem: "item"                       // Class cho các item trong dropdown
            });

            // Khởi tạo hiệu ứng scroll
            if (typeof solveScroll === 'function') {
                solveScroll({
                    clElementFade: "header"  // Selector cho phần tử cần hiệu ứng khi scroll
                });
            }
        });
    </script>