@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");


/* SECTION-ONE */

.section-one {
  padding-bottom: 100px;
  background: linear-gradient(135deg, #141e30 0%, #243b55 100%);
  color: #fff;
  box-shadow: rgba(219, 95, 212, 0.15) 0px 5px 15px 0px;
}

.section-one ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.section-one a {
  text-decoration: none;
}

.section-one .inner-box ul a {
  display: inline-block;
  margin-right: 30px;
  color: #a9a9a9;
}

.section-one .inner-box ul a:hover {
  color: #ff589e;
}

.inner-box .inner-title {
  padding-top: 50px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.items img{
  width: 100%;
  max-height: 700px;
}

.section-one .inner-items img {
  height: 370px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.section-one .inner-items {
  margin-top: 20px;
  margin-right: 10px;
}

.section-one .inner-items a {
  color: #fff;
}

.section-one .inner-items .inner-items-title {
  font-weight: 700;
}

.section-one .inner-items .inner-items-title:hover {
  color: #ff589e;
}

/* END SECTION-ONE */

/* ICON-FLOATING */

.inner-buttons-icon {
  position: fixed;
  bottom: 20px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2003;
}

.inner-buttons-icon img {
  height: 50px;
  width: auto;
  border-radius: 10px;
}


.inner-buttons-icon a:hover {
  transform: translateY(-3px);
  /* hover nhảy nhẹ lên */
}

/* END ICON-FLOATING */

/* FOOTER */

.footer {
  background: linear-gradient(135deg, #1e2a3a 0%, #2c3e55 100%);
  padding-top: 30px;
  margin-bottom: 0;
}

footer .inner-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .inner-list li {
  margin-right: 30px;
}

footer .inner-list a {
  color: #9d5bd9;
  text-align: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
}

.footer .inner-list a:hover {
  background: #ff589e;
  color: #fff;
}

footer .text {
  text-align: center;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}

/* END FOOTER */
