{% load static %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS riêng -->
    <script src="{% static 'shop/js/header.js' %}"></script>
    <script>
        sloveSlide({
            clmenuToggle: '#menuToggle',
            cloverlay: '#overlay',
            clslideContainer: '#slideContainer',
            clcloseBtn: '#closeBtn',
        });
        // Khởi tạo tất cả dropdown
        sloveDropdown({
            clclickDropdown: "clickDropdown",
            cldropdown_items: "dropdown-items",
            clItem: "item",
        });
        sloveDropdown({
            clclickDropdown: "dropdown",
            cldropdown_items: "child-item",
        })
        solveScroll({
            clElementFade: "header",
        })
 
    </script>